/**************  
gvars
****************/
$button : #E36365;
$circle: #30B2A7;
$gradient: linear-gradient( #E46365 100%, #59687D 100%);
$bg: #505E73;
$table-bg: #546277;
$footer-bg: #313D4E;
/**************  
/gvars/
****************/

/**************  
globals
****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:  none;
  text-decoration: none;
  border: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
}

html, body {
  min-height: 100vh;
}
img {
  max-width: 100%;
}
body {
  
  display: flex;
  flex-direction: column;
  background: $bg;

  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  font-family: 'Noto Sans Mono', monospace;
  // font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 21px;
  margin: auto;
  max-width: 1190px;
}


/**************  
/globals/
****************/


/**************  
btns
****************/

.btn {
  background: #E36365;
  padding: 17px 29px;
  box-shadow: 0px 30px 33px -18px rgba(53, 62, 74, 0.4);
 border-radius: 58px; 
 color: white;
 font-weight: bold;
font-size: 22px;
}

.btn--white {
  background: transparent;
  box-shadow: 0px 30px 33px -18px rgba(53, 62, 74, 0.4);
  border-radius: 58px; 
  border: solid 2px white;
  font-size: 15px;
  font-weight: bold;
  
}

/**************  
/btns/
****************/


/**************  
navbar
****************/
.nav__link {
  color: white;
}

.nav {
  margin-top: 32px;
}
.nav__child {
  display: flex;
  flex-direction: column;
}

.up__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/**************  
/navbar/
****************/



/**************  
utility classes
****************/
.flex {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}


.pl-5 {
  padding-left: 100px;
}

.mt-20 {
  margin-top: 20px;
}
/**************  
/utility classes/
****************/



/**************  
content
****************/

.content {
  margin-top:  112px;
 flex:  1;

}

.intro {
  height: 100%;
  width: 100%;
}

.left-intro-block {
  display: flex;
  align-items: center;
}

.left-intro-block div:nth-child(2) {
    flex: 3;
}

.check-list {
  margin-top: 69px;
}

.first-button {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/**************  
/content
****************/






/**************  
footer
****************/







/**************  
/footer
****************/